<?php

return [
    'modules' => [
        'DoctrineModule',
        'DoctrineORMModule',
        'SlmQueue',
        'SlmQueueDoctrine',
        'BsbPostponableJobStrategy',
    ],
    'module_listener_options' => [
    ],
];